<p id="notice"><%= notice %></p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Funding reason:</strong>
  <%= @user.funding_reason %>
</p>

<p>
  <strong>Funding amount:</strong>
  <%= @user.funding_amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
