<!DOCTYPE html>
<html>
  <head>
    <title>Belarushack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Belarushack</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Цели</a></li>
          <li><a href="badges.html">Гарантии</a></li>
          <li><a href="collapsible.html">О фонде</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1>Помощь пострадавшим</h1>
      <%= yield %>
    </div>
  </body>
</html>
