<!DOCTYPE html>
<html>
  <head>
    <title>Belarushack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer blue-grey">
      <div class="footer-copyright">
        <div class="container">
        © 2020 Deviato Project
        <a class="grey-text text-lighten-4 right" href="mailto:it@deviato.co">it@deviato.co</a>
        </div>
      </div>
    </footer>
  </body>
</html>
